:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --active: #8d25c9;
    --light-success: #BBF7D0;
    --bg-grey-light: #f5f5f5;
  }

  .dark {
    --text-white: #e6e6e6;
    --text-dark: #ffffff;
    --bg-grey-light: #142136;
    --bg-white: #22395d;
    --bg-blue-dark: #142136;
  }